<% content_for :page_title, "Show" %>
<br>

        <div class="panel-group">
            <div class="panel panel-default">
                 <div class="panel-heading">
                    <%= link_to 'Back', :back,class: 'btn btn-default btn-sm border-main' %>
                    <strong class="pull-right"><%= @post.user.email %> </strong>
                 </div> 
                    <div class="panel-body">
                        <h2><%= @post.title %></h2>
                        <hr class="hr-success">
                        <p>
                        <%= @post.body %>
                        </p>
                        <br>
                        <span><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></span>
                        <% if current_user.present? %>

                        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
                        <% if pre_like %>
                          <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete ,class:"btn btn-warning btn-sm"%>
                        <% else %>
                          <%= button_to 'Like', post_likes_path(@post), method: :post ,class:"btn btn-primary btn-sm"%>
                        <% end %>
                        <% if(current_user == @post.user || current_user.isadmin) %><br>
                        <p>
                            <%= link_to "Edit", edit_post_path(@post),class:"btn btn-info btn-sm"%>
                            <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger pull-right btn-sm" %>
                        </p>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        
    
    <h4><strong><%= @post.comments.count %></strong> Comments</h4>
    <%= render @post.comments %>
    <h2 class="grad">Leave a Reply</h2>

    <%= render 'comments/form'%>
</div>